@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: darkcyan;
}
.container{
    width: 280px;
    background: hsl(34, 68%, 81%);
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5em;
    overflow: hidden;
    padding: .5em;
    box-shadow: -4px 8px 20px 0px rgba(66, 68, 90, 1);
    font-family: "Noto Sans Display", sans-serif;
}
.heading-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1em;
}
h1{
    font-size: 1.05rem;
    text-transform: uppercase;
    font-family: "Audiowide", sans-serif;
}
h2{
    font-size: 1.125rem;
    font-style: italic;
}
.screen-wrap{
    width: 100%;
    border: 2px solid black;
    border-radius: .5em;
    overflow: hidden;
    box-shadow: inset 1px 1px 15px 2px rgba(66, 68, 90, 1);
    background: hsl(0, 0%, 100%);
}
.screen-wrap input{
    width: 100%;
    text-align: right;
    padding: .15em .25em;
    border: 1px solid transparent;
    outline-color: transparent;
    background: transparent;
    font-size: 1.225rem;
    font-weight: 700;
    font-family: "Noto Sans Display", sans-serif;
    color: hsl(240, 100%, 17%);
}
.btn-wrap{
    margin-block: .5em;
}
.btn-wrap button{
    font-weight: 600;
    font-size: 1.0rem;
    border: 1px solid transparent;
    border-radius: .5em;
    background: hsl(208, 40%, 90%);
    cursor: pointer;
    color: hsl(240, 100%, 17%);
    font-family: "Noto Sans Display", sans-serif;
}
#clr-button,
#del-button
{
    background: red;
    color: beige;
}
.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px;
    gap: .35em;
    margin-block-end: .35em;
}
@media(max-width: 475px){
    .container{
        max-width: 100%;
    }
}